@{
    ViewBag.Title = "About";
}

<div class="container">
    <h1>Compare my fitness</h1>
</div>
<ul>
    <li>
        <a href="#">Upload data from a range of devices</a>
    </li>
    <li>
        <a href="#">Update your Public Health Record</a>
    </li>
    <li>
        <a href="#">Track your progression over time</a>
    </li>
</ul>